/* Elements */

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 0;
	border: none;
	background: none;
	color: currentColor;
	font-size: 1em;
	cursor: pointer;
	user-select: none;
}

/* Components */

.touch-slider {
	background-color: var(--color);
	border-radius: 50%;
	cursor: n-resize;
	user-select: none;
	touch-action: none;
}

.color-button {
	width: 4rem;
	height: 4rem;
	background-color: var(--color, #FFF);
	border: 1px solid transparent;
	border-radius: 50%;
	font-weight: bold;
	font-family: monospace;
	display: grid;
	place-items: center;
	transition: background-color 255ms;
}
.color-button > * {
	grid-area: 1 / 1 / 2 / 2;
}
.color-button svg {
	width: 1.5rem;
	height: 1.5rem;
}
.color-button.display-mode > svg,
.color-button.delete-mode > span {
	opacity: 0;
	visibility: hidden;
	transition: opacity 255ms;
}
.color-button.delete-mode {
	border-color: #FFF !important;
	background-color: #F00 !important;
	color: #FFF !important;
}
.color-button.delete-mode:hover {
	background-color: #F44;
}

/* Helpers */

.text-small {
	font-size: .9em;
}

.inline-icon {
	width: 1.66em;
	height: 1.66em;
	margin-left: .2em;
	margin-top: -.1em;
	vertical-align: middle;
}

/* Layout */

main {
	display: grid;
	place-items: center;
}

.main-overflow-wraper {
	max-width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 32rem 18rem;
	align-items: center;
	overflow: auto;
}
@media (max-width: 34rem) {
	.main-overflow-wraper {
		grid-template-columns: calc(100vw - 2rem) 18rem;
	}
}

#mixer {
	width: 100%;
	display: grid;
	grid-gap: 1.5rem;
	place-items: center;
	place-self: center;
}

.mixer-hex-code {
	color: #EEE;
	font-size: 2.25em;
	letter-spacing: .2em;
	font-family: monospace;
	font-weight: bold;
}

.main-slider-wraper > .touch-slider {
	width: 12rem;
	height: 12rem;
	border: 1px solid transparent;
}

.small-slider-wraper {
	display: grid;
	margin: 0;
	grid-template-columns: repeat(2, 3.5rem) 6rem;
}

.small-slider-wraper > .touch-slider {
	width: 6rem;
	height: 6rem;
	border: 1px solid;
}
.small-slider-wraper .touch-slider:nth-child(1) {
	border-color: #F00C;
	z-index: 2;
}
.small-slider-wraper .touch-slider:nth-child(2) {
	border-color: #0F0C;
	z-index: 1;
}
.small-slider-wraper .touch-slider:nth-child(3) {
	border-color: #00FC;
}

.mixer-info-wraper {
	margin: 0;
	text-align: center;
}
.mixer-info-wraper > p > button {
	text-decoration: underline;
}

#collection-panel {
	padding-right: 1.4rem;
	text-align: center;
	display: grid;
	grid-gap: .4rem;
}

.collection-content {
	width: 100%;
	display: grid;
	background: radial-gradient(#222 24%, transparent 26%) -.1rem -.1rem / 4.2rem 4.2rem repeat local;
	grid-gap: .3rem;
	grid-template-rows: repeat(6, 4rem);
	grid-auto-flow: column;
	align-content: start;
	justify-content: start;
	overflow: auto;
}

.collection-content-add {
	width: 3rem;
	height: 3rem;
	margin: .5rem;
	background-color: #444;
	border: 1px solid transparent;
	border-radius: 50%;
	transition: background-color 128ms, border-color 128ms;
}
.collection-content-add:hover {
	background-color: #555;
}
.collection-content-add:active {
	background-color: #333;
	border-color: #555;
}
.collection-content-add > svg {
	width: 1.5rem;
	height: 1.5rem;
	margin-top: .35rem
}
