:root {
	--color-black: #000;
	--color-dark: #111;

	--color-gray: #888;
	--color-gray-lighten-6: #222;
	--color-gray-lighten-5: #333;
	--color-gray-lighten-4: #444;
	--color-gray-lighten-3: #555;
	--color-gray-lighten-2: #666;
	--color-gray-lighten-1: #777;
	--color-gray-darken-1: #999;
	--color-gray-darken-2: #AAA;
	--color-gray-darken-3: #BBB;
	--color-gray-darken-4: #CCC;
	--color-gray-darken-5: #DDD;

	--color-light: #EEE;
	--color-white: #FFF;

	--color-red: #F22;
	--color-red-darken-4: #722;
	--color-red-darken-3: #922;
	--color-red-darken-2: #B22;
	--color-red-darken-1: #D22;
	--color-red-lighten-1: #F44;
	--color-red-lighten-2: #F66;
	--color-red-lighten-3: #F88;
	--color-red-lighten-4: #FAA;

	--color-orange: #F92;
	--color-orange-darken-4: #752;
	--color-orange-darken-3: #962;
	--color-orange-darken-2: #B72;
	--color-orange-darken-1: #D82;
	--color-orange-lighten-1: #FA4;
	--color-orange-lighten-2: #FB6;
	--color-orange-lighten-3: #FC8;
	--color-orange-lighten-4: #FDA;

	--color-yellow: #FF2;
	--color-yellow-darken-4: #772;
	--color-yellow-darken-3: #992;
	--color-yellow-darken-2: #BB2;
	--color-yellow-darken-1: #DD2;
	--color-yellow-lighten-1: #FF4;
	--color-yellow-lighten-2: #FF6;
	--color-yellow-lighten-3: #FF8;
	--color-yellow-lighten-4: #FFA;

	--color-lime: #9F2;
	--color-lime-darken-4: #572;
	--color-lime-darken-3: #692;
	--color-lime-darken-2: #7B2;
	--color-lime-darken-1: #8D2;
	--color-lime-lighten-1: #AF4;
	--color-lime-lighten-2: #BF6;
	--color-lime-lighten-3: #CF8;
	--color-lime-lighten-4: #DFA;

	--color-green: #2F2;
	--color-green-darken-4: #272;
	--color-green-darken-3: #292;
	--color-green-darken-2: #2B2;
	--color-green-darken-1: #2D2;
	--color-green-lighten-1: #4F4;
	--color-green-lighten-2: #6F6;
	--color-green-lighten-3: #8F8;
	--color-green-lighten-4: #AFA;

	--color-teal: #2F9;
	--color-teal-darken-4: #275;
	--color-teal-darken-3: #296;
	--color-teal-darken-2: #2B7;
	--color-teal-darken-1: #2D8;
	--color-teal-lighten-1: #4FA;
	--color-teal-lighten-2: #6FB;
	--color-teal-lighten-3: #8FC;
	--color-teal-lighten-4: #AFD;

	--color-cyan: #2FF;
	--color-cyan-darken-4: #277;
	--color-cyan-darken-3: #299;
	--color-cyan-darken-2: #2BB;
	--color-cyan-darken-1: #2DD;
	--color-cyan-lighten-1: #4FF;
	--color-cyan-lighten-2: #6FF;
	--color-cyan-lighten-3: #8FF;
	--color-cyan-lighten-4: #AFF;

	--color-lightblue: #29F;
	--color-lightblue-darken-4: #257;
	--color-lightblue-darken-3: #269;
	--color-lightblue-darken-2: #27B;
	--color-lightblue-darken-1: #28D;
	--color-lightblue-lighten-1: #4AF;
	--color-lightblue-lighten-2: #6BF;
	--color-lightblue-lighten-3: #8CF;
	--color-lightblue-lighten-4: #ADF;

	--color-blue: #22F;
	--color-blue-darken-4: #227;
	--color-blue-darken-3: #229;
	--color-blue-darken-2: #22B;
	--color-blue-darken-1: #22D;
	--color-blue-lighten-1: #44F;
	--color-blue-lighten-2: #66F;
	--color-blue-lighten-3: #88F;
	--color-blue-lighten-4: #AAF;

	--color-purple: #92F;
	--color-purple-darken-4: #527;
	--color-purple-darken-3: #629;
	--color-purple-darken-2: #72B;
	--color-purple-darken-1: #82D;
	--color-purple-lighten-1: #A4F;
	--color-purple-lighten-2: #B6F;
	--color-purple-lighten-3: #C8F;
	--color-purple-lighten-4: #DAF;

	--color-magenta: #F2F;
	--color-magenta-darken-4: #727;
	--color-magenta-darken-3: #929;
	--color-magenta-darken-2: #B2B;
	--color-magenta-darken-1: #D2D;
	--color-magenta-lighten-1: #F4F;
	--color-magenta-lighten-2: #F6F;
	--color-magenta-lighten-3: #F8F;
	--color-magenta-lighten-4: #FAF;

	--color-pink: #F29;
	--color-pink-darken-4: #725;
	--color-pink-darken-3: #926;
	--color-pink-darken-2: #B27;
	--color-pink-darken-1: #D28;
	--color-pink-lighten-1: #F4A;
	--color-pink-lighten-2: #F6B;
	--color-pink-lighten-3: #F8C;
	--color-pink-lighten-4: #FAD;

	--color-bluegray: #789;
	--color-bluegray-darken-8: #001;
	--color-bluegray-darken-7: #012;
	--color-bluegray-darken-6: #123;
	--color-bluegray-darken-5: #234;
	--color-bluegray-darken-4: #345;
	--color-bluegray-darken-3: #456;
	--color-bluegray-darken-2: #567;
	--color-bluegray-darken-1: #678;
	--color-bluegray-lighten-1: #89A;
	--color-bluegray-lighten-2: #9AB;
	--color-bluegray-lighten-3: #ABC;
	--color-bluegray-lighten-4: #BCD;
	--color-bluegray-lighten-5: #CDE;
	--color-bluegray-lighten-6: #DEF;
	--color-bluegray-lighten-7: #EFF;

	--color-warm_gray: #988;
	--color-warm_gray-darken-8: #100;
	--color-warm_gray-darken-7: #211;
	--color-warm_gray-darken-6: #322;
	--color-warm_gray-darken-5: #433;
	--color-warm_gray-darken-4: #544;
	--color-warm_gray-darken-3: #655;
	--color-warm_gray-darken-2: #766;
	--color-warm_gray-darken-1: #877;
	--color-warm_gray-lighten-1: #A99;
	--color-warm_gray-lighten-2: #BAA;
	--color-warm_gray-lighten-3: #CBB;
	--color-warm_gray-lighten-4: #DCC;
	--color-warm_gray-lighten-5: #EDD;
	--color-warm_gray-lighten-6: #FEE;
	--color-warm_gray-lighten-7: #FFE;
}
