/* main > div {
	aspect-ratio: 10 / 1;
	--steps: #F00 0%,#F00 1.11%,#F10 1.11%,#F10 2.22%,#F20 2.22%,#F20 3.33%,#F30 3.33%,#F30 4.44%,#F40 4.44%,#F40 5.56%,#F50 5.56%,#F50 6.67%,#F60 6.67%,#F60 7.78%,#F70 7.78%,#F70 8.89%,#F80 8.89%,#F80 10%,#F90 10%,#F90 11.11%,#FA0 11.11%,#FA0 12.22%,#FB0 12.22%,#FB0 13.33%,#FC0 13.33%,#FC0 14.44%,#FD0 14.44%,#FD0 15.56%,#FE0 15.56%,#FE0 16.67%,#FF0 16.67%,#FF0 17.78%,#EF0 17.78%,#EF0 18.89%,#DF0 18.89%,#DF0 20%,#CF0 20%,#CF0 21.11%,#BF0 21.11%,#BF0 22.22%,#AF0 22.22%,#AF0 23.33%,#9F0 23.33%,#9F0 24.44%,#8F0 24.44%,#8F0 25.56%,#7F0 25.56%,#7F0 26.67%,#6F0 26.67%,#6F0 27.78%,#5F0 27.78%,#5F0 28.89%,#4F0 28.89%,#4F0 30%,#3F0 30%,#3F0 31.11%,#2F0 31.11%,#2F0 32.22%,#1F0 32.22%,#1F0 33.33%,#0F0 33.33%,#0F0 34.44%,#0F1 34.44%,#0F1 35.56%,#0F2 35.56%,#0F2 36.67%,#0F3 36.67%,#0F3 37.78%,#0F4 37.78%,#0F4 38.89%,#0F5 38.89%,#0F5 40%,#0F6 40%,#0F6 41.11%,#0F7 41.11%,#0F7 42.22%,#0F8 42.22%,#0F8 43.33%,#0F9 43.33%,#0F9 44.44%,#0FA 44.44%,#0FA 45.56%,#0FB 45.56%,#0FB 46.67%,#0FC 46.67%,#0FC 47.78%,#0FD 47.78%,#0FD 48.89%,#0FE 48.89%,#0FE 50%,#0FF 50%,#0FF 51.11%,#0EF 51.11%,#0EF 52.22%,#0DF 52.22%,#0DF 53.33%,#0CF 53.33%,#0CF 54.44%,#0BF 54.44%,#0BF 55.56%,#0AF 55.56%,#0AF 56.67%,#09F 56.67%,#09F 57.78%,#08F 57.78%,#08F 58.89%,#07F 58.89%,#07F 60%,#06F 60%,#06F 61.11%,#05F 61.11%,#05F 62.22%,#04F 62.22%,#04F 63.33%,#03F 63.33%,#03F 64.44%,#02F 64.44%,#02F 65.56%,#01F 65.56%,#01F 66.67%,#00F 66.67%,#00F 67.78%,#10F 67.78%,#10F 68.89%,#20F 68.89%,#20F 70%,#30F 70%,#30F 71.11%,#40F 71.11%,#40F 72.22%,#50F 72.22%,#50F 73.33%,#60F 73.33%,#60F 74.44%,#70F 74.44%,#70F 75.56%,#80F 75.56%,#80F 76.67%,#90F 76.67%,#90F 77.78%,#A0F 77.78%,#A0F 78.89%,#B0F 78.89%,#B0F 80%,#C0F 80%,#C0F 81.11%,#D0F 81.11%,#D0F 82.22%,#E0F 82.22%,#E0F 83.33%,#F0F 83.33%,#F0F 84.44%,#F0E 84.44%,#F0E 85.56%,#F0D 85.56%,#F0D 86.67%,#F0C 86.67%,#F0C 87.78%,#F0B 87.78%,#F0B 88.89%,#F0A 88.89%,#F0A 90%,#F09 90%,#F09 91.11%,#F08 91.11%,#F08 92.22%,#F07 92.22%,#F07 93.33%,#F06 93.33%,#F06 94.44%,#F05 94.44%,#F05 95.56%,#F04 95.56%,#F04 96.67%,#F03 96.67%,#F03 97.78%,#F02 97.78%,#F02 98.89%,#F01 98.89%,#F01 100%;
	background-image: linear-gradient(to right, var(--steps));
} */

main {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 2rem;
	overflow-x: auto;
}


.palette {
	min-width: 400px;
	padding: 0;
}
.palette > h2 {
	margin: 0;
	padding: 0;
	font-size: 3rem;
	line-height: 1em;
	font-weight: 550;
}
.palette > ul {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	color: #000;
	display: grid;
	grid-template-columns: repeat(18, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-auto-flow: column;
}
.palette > ul > li {
	width: 100%;
	min-width: 4.5rem;
	aspect-ratio: 1 / 1;
	padding: 10%;
	background-color: var(--color);
	font-family: 'Azeret Mono', sans-serif !important;
	font-weight: 600;
	display: flex;
	justify-content: end;
	align-items: end;
}
.palette__item--large {
	grid-area: span 2 / span 2;
	padding: 5% !important;
	font-size: 1.5em;
}