main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(15rem, 1fr));
  grid-gap: 0.5rem;
  overflow: auto;
}

main > article {
  display: grid;
}
main > article::before {
  content: "";
  padding-bottom: 100%;
  display: block;
  grid-area: 1 / 1 / 2 / 2;
}
main > article ::selection {
  background-color: #000;
  color: #FFF;
}

main > article ::-moz-selection {
  background-color: #000;
  color: #FFF;
}
main > article > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-area: 1 / 1 / 2 / 2;
}
main > article > div > div {
  background-color: var(--color);
  color: #000;
  font-size: .9em;
  font-weight: bold;
  display: grid;
  place-items: center;
}
