body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #FFF;
  font-family: 'Manrope', sans-serif;
  display: grid;
  place-items: center;
  grid-gap: 1rem
}

*, *:before, *:after {
  box-sizing: border-box;
}

::selection {
  background-color: #FFF;
  color: #000;
}
::-moz-selection {
  background-color: #FFF;
  color: #000;
}

header, footer {
  width: 100%;
  font-size: 1.5rem;
  line-height: 64px;
  padding: 0 1rem;
}
header {
  align-self: start;
}

header svg {
  margin-right: .4em;
  margin-bottom: .1em;
  vertical-align: middle;
}
header svg circle {
  transition: cx 300ms cubic-bezier(0, 0, .2, 1), r 200ms cubic-bezier(0, 0, .2, 1);
}

header a {
  color: #FFF;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}
header a:hover svg circle, header a:active svg circle {
  cx: 32;
  mix-blend-mode: lighten;
}
header a:active svg circle {
  r: 12;
}
header a + a {
  font-size: .8em;
  float: right;
}

main {
  height: 100%;
  display: grid;
  place-items: center;
}

section {
  display: grid;
  place-items: center;
  grid-gap: 2rem
}

strong {
  color: #EEE;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

div {
  background-color: var(--color);
  border-radius: 50%;
  cursor: n-resize;
  transition: background-color 100ms;
}
main section > div {
  width: 200px;
  height: 200px;
  border: 2px solid #222;
}
main section article > div {
  width: 100px;
  height: 100px;
}
main section article > div:nth-child(1) {
  z-index: 2;
}
main section article > div:nth-child(2) {
  z-index: 1;
}

article {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(2, 60px) 100px;
}

em {
  color: #EEE;
  font-size: .8em;
}

footer {
  font-size: .8em;
  align-self: end;
}
