main {
	color: #111;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    gap: 0;
}

main > * {
    flex: 1 0 100%;
    position: relative;
}
main > .divider {
    height: 3rem;
}
@media (min-width: 64rem) {
    main > .half {
        flex-basis: 50%;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid--large {
    grid-template-columns: repeat(6, 1fr);
    font-size: 1rem;
}
@media (min-width: 70rem) {
    .grid--large {
        grid-template-columns: repeat(9, 1fr);
        font-size: .8em;
    }
}
.grid > .col-2 {
    grid-column-end: span 3;
    grid-row-end: span 1;
    aspect-ratio: 3 / 1;
}
.grid__item {
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: hidden;
}

.color {
    background-color: var(--color, #888);
    font-weight: 600;
    line-height: 1em;
    transition: background-color 256ms;
}
.color.dark {
    color: #EEE;
}
.color:not(.dark) ::selection {
    background-color: #000;
    color: #FFF;
}

.color__title {
    max-width: 100%;
    margin: -.25em 0 0 -.03em;
	padding: 0;
    padding-right: .6em;
	font-size: 3em;
	font-weight: 550;
	line-height: 1.3em;
    word-wrap: break-word;
    transition: color 250ms;
}

.color > input, .color > button {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-align: right;
    position: absolute;
    inset: 0;
    border: none;
    background-color: transparent;
}
.color > input[type="text"] {
    width: 98%;
    height: 94%;
    margin: 1%;
    padding-top: 3.5em;
    padding-right: .1em;
    font-size: 3em;
}
.color > input[type="range"] {
    width: 80%;
    height: 80%;
    accent-color: currentcolor;
    top: 20%;
    right: 10%;
    left: 10%;
}
.color > button {
    width: 94%;
    height: 94%;
    margin: 3%;
    padding-top: 75%;
    font-family: inherit;
    font-size: 1.5em;
    cursor: pointer;
}
.color:has(> button:hover) {
    text-decoration-line: underline;
}
