main {
	color: #111;
    align-content: start;
    font-size: max(24px, 4vw);
}
@media (min-width: 64rem) {
    main {
        font-size: 2vw;
    }
}
main :has(h2, h3) {
    position: relative;
    overflow: hidden;
}
main :is(h2, h3) {
    max-width: 100%;
	margin: 0;
	padding: 0;
    padding-right: 22%;
    font-size: 1em;
	font-weight: 550;
	line-height: .7em;
    word-wrap: break-word;
    transition: color 250ms;
    position: absolute;
    top: .06em;
    left: -.03em;
    z-index: 1;
    text-decoration: inherit;
}

.relative {
    position: relative;
}

.min-h-12 {
    height: 3rem;
}

.flex-basis-full, .flex-basis-half {
    flex-basis: 100%;
}
@media (min-width: 64rem) {
    .flex-basis-half {
        flex-basis: 50%;
    }
}
[class~="flex-grow-2!"] {
    flex-grow: 2 !important;
}

.text-2x {
    font-size: 2em;
}

.ratio-1 {
    aspect-ratio: 1 / 1;
}
.ratio-2 {
    aspect-ratio: 2 / 1;
}
.ratio-3 {
    aspect-ratio: 3 / 1;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex > * {
    flex: 1 1 auto;
}

.flex-basis-full, .flex-basis-half {
    flex-basis: 100%;
}
@media (min-width: 64rem) {
    .flex-basis-half {
        flex-basis: 50%;
    }
}
[class~="flex-grow-2!"] {
    flex-grow: 2 !important;
}

.color {
    --default-color: #FFF;
    background-color: var(--color, var(--default-color));
    transition: background-color 256ms;
}
.color--red    { --default-color: #F00; }
.color--green  { --default-color: #0F0; }
.color--blue   { --default-color: #00F; }
.color--hue    { --default-color: #FF0; }
.color--chroma { --default-color: #888; }
.color--light  { --default-color: #FFF; }
.color--dark {
    color: #EEE;
}
.color--darken.color--red { color: #F00 !important; }
.color--darken.color--green { color: #0F0 !important; }
.color--darken.color--blue { color: #00F !important; }
.color:not(.dark) ::selection {
    background-color: #000;
    color: #FFF;
}

.color > input, .color > button {
    text-align: right;
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: 1em;
    font-weight: 600;
    position: absolute;
    inset: 0;
    z-index: 1;
    outline-offset: -1rem;
}
.color > input[type="text"] {
    padding-right: .5em;
    color: inherit;
}
.color > input[type="range"] {
    top: 4rem;
    right: 2rem;
    bottom: 0;
    left: 2rem;
    accent-color: currentcolor;
}
.color > button {
    padding: 0 .5em .5em 0;
    cursor: pointer;
    display: flex;
    justify-content: end;
    align-items: end;
}
.color > button:hover {
    text-decoration-line: underline;
}

.storage-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
@media (min-width: 64rem) {
    .storage-grid {
        grid-template-columns: repeat(9, 1fr);
    }
}


.screen-reader {
    position: absolute !important;  // Outside the DOM flow
    height: 1px; width: 1px;        // Nearly collapsed
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
